* {
  margin: 0;
  padding: 0;
}

.nav_meni {
  background-color: #0275d8;
  height: 65px;
  padding-top: 10px;
}

.nav_meni a {
  text-decoration: none;
  color: #fcffa0;
  font-size: 30px;
}

.nav_meni a:hover {
  color: #fcffa0;
}

#digimon_img {
  height: 200px;
  width: 200px;
}

.digimoni_map {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px 200px 200px;
  grid-row-gap: 100px;
  grid-column-gap: 120px;
  justify-content: center;
  margin-top: 50px;
}

#digimoni_pretraga_nav {
  margin-left: 30px;
}

#pretraga_input {
  margin-top: 10vh;
  width: 350px;
}

#button_pretraga {
  width: 150px;
  font-size: 20px;
}

#digimon_search {
  margin-left: 70%;
}